# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
**/node_modules
/.pnp
.pnp.js

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
**/*/.env
**/*/.env.local
**/*/.env.development.local
**/*/.env.test.local
**/*/.env.production.local

# vercel
.vercel

node_modules

apps/subgraph/subgraph.yaml
apps/subgraph/build
apps/contracts/data
apps/contracts/broadcast/**

packages/kit/operations.graphql

## Hardhat files ##
packages/hardhat/*.txt
packages/hardhat/cache
packages/hardhat/artifacts
packages/hardhat/deployments

## Frontend Files ##
# testing
packages/frontend/coverage
packages/react-app

# next.js
packages/frontend/.next/
packages/frontend/out/
# production
packages/frontend/build
# contracts
packages/frontend/artifacts/*
!packages/frontend/artifacts/contracts
packages/frontend/artifacts/contracts/**/*.sol

.turbo
build/**
dist/**
.next/**
